.brands{
  display: flex;
}

.brands ul{
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  place-items: center;
  gap: 8rem;
}

.main-wrapper .title{
  padding: 2rem;
}