.contact-container{
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.contact-info{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-info{
  font-weight: 500;
}

.contact-form{
  width: 50%;
}

.contact-form form{
  display: flex;
  flex-direction: column;
}

.form-message{
  display: flex;
  flex-direction: column;
  font-weight: 500;
  gap: 1rem;
  padding-top: 1rem;
}

.form-message textarea{
  padding: 1rem;
  outline: none;
  border: 1px solid var(--black);
  border-radius: 1rem; 
  font-size: 1rem;
  resize: none;
}

.form-message textarea::placeholder{
  font-size: 1rem;
}

.form-btn{
  margin-top: 1rem;
  background-color: var(--purple);
  font-size: 1.4rem;
  color: var(--white);
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}