.categories-container{
  padding: 4rem 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-evenly;
}

.category-wrapper{
  border: 1px solid var(--black);
  padding: 1rem;
  border-radius: 5px;
}

.category-wrapper ul{
  display: flex;
  margin-top: 1rem;
  flex-direction: column;
  gap: .7rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.category-wrapper ul li{
  cursor: pointer;
}

.category-wrapper ul li:hover{
  text-decoration: underline;
}

.cards-wrapper{
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

@media screen and (max-width: 1296px) {
  .category-wrapper ul{
    flex-direction: row;
    flex-wrap: wrap;
  }
}