@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Inter", sans-serif;
  list-style-type: none;
  text-decoration: none;
}

:root{
 --purple: #525CEB;
 --black: #3D3B40;
 --white: #ffffff;
 --lightblue: #BFCFE7;
}

.title{
  color: var(--purple);
  font-size: 2.3rem;
  font-weight: 800;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--black);
  transition: opacity 0.75s, visibility 0.75s;
}

.btn{
  background-color: var(--purple);
  font-weight: 600;
  font-size: 1.2rem;
  padding: 7px 20px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  color: var(--white);
}

.loading::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid var(--white);
  border-top-color: var(--purple);
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}


::-webkit-scrollbar{
  background-color: var(--black);
  width: .6rem;
}

::-webkit-scrollbar-thumb{
  background-color: var(--purple);
  border-radius: 1rem;
}
