.slider-container{
  max-height: 30rem;
  height: 100%;
  padding: 3rem;
}

.slider-wrapper{
  background: rgba(0, 0, 0, 0.539);
  overflow: hidden;
  position: relative;
}

.slider-bg-image{
  position: absolute;
  z-index: -1;
  width: 110%;
  top: -90px;
  left: -90px;
  filter: blur(10px);
}

.slider-focus-image{
  position: absolute;
  top: -50px;
  right: 180px;
  width: 25rem;
  transform: rotate(10deg);
}

.slider-desc{
  max-width: 60%;
  padding: 4rem 3rem;
  color: var(--white);
}

.slider-desc h1{
  font-weight: 900;
  margin-bottom: 1rem;
}

.slider-desc p{
  line-height: 1.4rem;
  margin-bottom: 1rem;
}

.slider-category{
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}

.slider-category li{
  border: 1px solid var(--white);
  padding: 4px 10px;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
}

.slider-category li:hover{
  background-color: var(--white);
  color: var(--black);
}

.btn-buy{
  background-color: var(--purple);
  font-weight: 600;
  font-size: 1.2rem;
  padding: 7px 20px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  color: var(--white);
}

@media screen and (max-width: 1420px) {
  .slider-container{
    height: 100%;
    padding: 0;
  }

  .slider-focus-image{
    position: absolute;
    top: -50px;
    right: 140px;
    width: 20rem;
    transform: rotate(10deg);
  }
}

@media screen and (max-width: 1035px) {

  .slider-focus-image{
    position: absolute;
    top: -50px;
    right: 0px;
    width: 20rem;
    transform: rotate(0deg);
  }
}

@media screen and (max-width: 825px) {

  .slider-desc{
    max-width: 80%;
    padding: 2rem 1rem;
  }

  .slider-bg-image{
    width: 100%;
    top: 0px;
    left: 0px;
  }

  .slider-category{
    flex-wrap: wrap;
  }

  .slider-focus-image{
    display: none;
  }
}

@media screen and (max-width: 350px) {
  .slider-category{
    display: none;
  }
}